.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    height: 100px;

    .socials{
        display: flex;
        gap: 1.4rem;

        a {
            
            transition: transform 0.2s ease;
            display: inline-block;

            &:hover {
                transform: scale(1.1);
            }

            svg {
                width: 24px;
                height: 24px;
            }
        }
    }
}