.requestForm{
    display: grid;
    grid-template-columns: 1fr 1fr;
    .getStarted{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .formContainer{
        background-color: var(--foreground);
        color: var(--background);
        max-width: 450px;
        padding: 1.3rem;
        border-top-left-radius: 7%;
        border-bottom-left-radius: 7%;

        h2{
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        p{
            margin-bottom: 1rem;  
        }

    }
    form{
        
        display: flex;
        flex-direction: column;
        gap: 1rem;
        input, textarea{
            padding: 0.8rem;
            border: 1px solid var(--background);
            border-radius: 8px;
            font-size: 1rem;
            background-color: var(--foreground);
            color: var(--background);
            &:focus{
                outline: none;
                border-color: var(--primary);
            }
        }
    }
}