.overlay{
    background: rgba(255, 255, 255, 0);
    border-radius: 45px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.dialog {
    position: relative;
    background-color: var(--background);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    border: .2px solid var(--background);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: fit-content;
    width: 90%;
}

.close{
    color: var(--foreground);
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}
